.active{
  color: rgb(0, 0, 0);
}

header {
  height: 70px;
  background-color: rgb(0, 187, 255);
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;

  ul{
    display: flex;
    justify-content: space-between;
  }

  li{
    margin-top: 10px;
    & a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      &:hover{
        color: rgb(150, 150, 150);
      }
    }
  }
}

.welcome{
  height: calc(100vh - 70px);
}

.error{
  color: red;
  font-size: 8rem;
}